<% content_for :top_content do %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><%= @team.title %></h2>
      </div>
      <br>
      <div class="panel-body">
        <p><%= @team.description %></p>
        <%= link_to 'Return to Team', event_teams_path(@event), class: ' col-md-2 btn btn-primary' %>
      </div>
    </div>
<% end %>