<% content_for :top_content do %>
<div class="jumbotron col-md-12">
    <h1> Admin page</h1>
    <p> Only admins have access to this page </p>
    <p> In here, a user can change application settings and modify user </p>
</div>
<% end %>