<% content_for :top_content do %>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @event.title, event_path(@event) %>
    </li>
    <li class="breadcrumb-item active">Schedule</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Schedule</h1>
        </div>
        <div class="card-body" width="100%">
          <%= react_component('SchedulerViewer', {resources: @resources, events: @events, eventDate: @event[:start_date].strftime('%Y-%m-%d %H:%M:%S')}) %>
        </div>
      </div>

    </div>
  </div>

<% end %>