<% content_for :top_content do %>
<div class="jumbotron col-md-12">
    <h1> Events page</h1>
    <p> When user is authenticated, this page becomes root </p>
    <p> Here, a user can choose which event he wants to view </p>
</div>
<% end %>