<% content_for :top_content do %>
  <div class="jumbotron">
    <h1> <i class="fa fa-camera-retro"></i> <%= @event.title %></h1>
    <p>Start Date: <%= @event.start_date %></p>
    <p> End Date: <%= @event.end_date %> </p>
    <p>This page receives the user and the event to find the appropriate information</p>
    <%= link_to "Back to events listing", events_path, class: "btn btn-primary" %>
  </div>
  <div class="container">
    <p>Different dashboard elements come here</p>
  </div>

<% end %>

