<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <%= react_component("HelloWorld", { greeting: "Welcome. this is a react container" }) %>
      <p>Register to get started.</p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>