<% content_for :top_content do %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">View teams application</h2>
    </div>
  </div>
  <div class="panel-body">
    <% if @teams_applications.empty? %>
      <div class="jumbotron">
        <p>No application has been submitted</p>
        <%= link_to 'Apply here', new_event_teams_application_path(event_id: @event), class: 'btn btn-primary' %>
      </div>

    <% else %>
      <%= link_to 'Apply here', new_event_teams_application_path(event_id: @event), class: 'btn btn-primary' %>
      <table class="table table-responsive">
        <thead>
        <tr>
          <th>Team Id</th>
          <th>Priority $</th>
        </tr>
        </thead>
        <tbody>
        <% @teams_applications.each do |t| %>
          <tr>
            <td>
              <%= t.team_id %></td>
            <td>
              <%= t.priority %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
<% end %>