<% content_for(:sidebar) do %>
  <%= render :partial => "layouts/sidebar" %>
<% end %>

<% content_for :top_content do %>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-default">
        <h2>View teams application</h2>
      </div>
    </div>
    <div class="panel-body">
      <% if @team_applications.empty? %>
        <p>No application has been submitted</p>
      <% end %>
    </div>
  </div>
<% end %>